---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <img
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuATNCHeRQ8Nj_XrslKuUHY9ePr6HYh3rXvhZzwN_t0wU0b-NF7lImX2bLFrLT_Tt10K7ksPf7PIHNdrl-MyZqtcagLln0GGeXLMe2wUh5Y0TDoHwMt9bYCSFu_EXD4s75OA4PBmjir6nev64qHnXJVuaPSdw1PcSvzvdvfmeZmQLN6r0okRVLvYyhKPTo6cWTAvkVL341nrlwik69Z9J1cBIxPJ8ten3t04yB4IFlKZmccXYn20QdTGNODWMSCzOs9bYCG35cjgO84"
            alt=""
        />
    </section>

    <section>
        <img src="" alt="" />
        <div>
            <div>Best Seller</div>
            <div>
                <p>The Sculpted Trench</p>
            </div>
            <div>
                Our signature piece. Crafted from Italian waterproof gabardine,
                featuring an oversized silhouette and exaggerated lapels. A
                masterpiece of functional minimalism.
            </div>
            <div>
                $420.00
                <div>antes $580.00</div>
            </div>
            <div>
                <button><a href="carrito">Carrito</a></button>
            </div>
        </div>
    </section>
</Layout>
