---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <img src="/imagen ropa.png" alt="">
    </section>

    <section>
        <div>
            <div>Best Seller</div>
            <div>
                <p>The Sculpted Trench</p>
            </div>
            <div>
                Our signature piece. Crafted from Italian waterproof gabardine,
                featuring an oversized silhouette and exaggerated lapels. A
                masterpiece of functional minimalism.
            </div>
            <div>
                $420.00
                <div>antes $580.00</div>
            </div>
            <div>
                <button><a href="carrito">Carrito</a></button>
            </div>
        </div>
    </section>
</Layout>
