---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="px-20">
        <div class="text-8xl font-black py-6">Your Cart</div>
        <div>Review your tactile selections before checkout.</div>
    </section>
    <section class="flex gap-6">
        <div><img src="/img camisa carrito.png" alt="" /></div>
        <div>
            <div class="text-6xl text-black font-bold">Heavy Box Tee</div>
            <div class="py-4 opacity-65">Vintage White / XL</div>
            <div>Amount: 1</div>
            <div class="flex justify-end">$85.00</div>
            <div class="text-2xl fond-bold flex justify-end">Remove</div>
        </div>
    </section>
    <section class="flex gap-6 justify-end text-4xl font-black">
<div><p>Summary</p></div>

    </section>
</Layout>
