---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="py-6 px-96">
        <p class="text-black text-2xl py-8">CONTACT</p>
        <form action="">
            <div class="flex flex-col">
                Full Name
                <input
                    type="text"
                    class="border-b border-amber-300 border-dashed"
                />
            </div>
            <div class="flex flex-col">
                G-mail
                <input
                    type="text"
                    class="border-b border-amber-300 border-dashed"
                />
            </div>
            <div>
                <textarea name="" id="" placeholder="Este texto se va">
                </textarea>
            </div>
        </form>
    </div>
</Layout>
