---
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="style.css" />
<Layout>
    <section class="relative overflow-hidden flex px-32 py-56">
        <img
            src="/imagen fondo inicio.png"
            class="absolute -z-1 w-full h-full left-0 top-0 object-cover"
        />
        <div>
            <div class="text-8xl font-black py-6">The New Standard</div>
            <p class="text-2xl text-cyan-800 py-8">
                Curated silhouettes designed for the modern tactile minimalist.
                Quiet luxury, loud presence.
            </p>
            <div>
                <button class="font-light bg-blue-500 text-mist-50 p-6 py-2">
                    <a href="new-arrivals">New Arrivals</a>
                </button>
            </div>
        </div>
    </section>
    <section class="flex gap-4">
        <div class="flex flex-1 relative">
            <img
                class="object-cover w-full"
                src="/chaqueta new arrivals.png"
                alt=""
            />
            <div class="absolute top-4 left-4 text-4xl font-bold">
                <p>Outerwear</p>
                <p>Explore Collection</p>
            </div>
        </div>

        <div class="flex-1">
            <div class="relative">
                <img class="w-full" src="/blusa new arrivals.png" alt="" />
                <p class="absolute top-4 left-4 text-4xl font-bold">Tops</p>
            </div>
            <div class="relative">
                <img
                    class="w-full"
                    src="/ropa interior new arrivals.png"
                    alt=""
                />

                <section class="absolute top-4 left-4 text-4xl font-bold">Bottons</section>
            </div>
        </div>
    </section>
</Layout>
