---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section>
		<div>
			<div>The New Standard</div>
			<p>
				Curated silhouettes designed for the modern tactile minimalist.
				Quiet luxury, loud presence.
			</p>
			<div>
				<button>
					<a href="new arrivals">New Arrivals</a>
				</button>
			</div>
		</div>
	</section>
</Layout>
