---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="px-20">
        <div>
            <div class="text-8xl font-black py-6">New Arrivals</div>
        </div>

        <div class="text-2xl text-cyan-800 py-8">
            Exploring the intersection of architectural form and tactile
            comfort. A curated selection for the permanent wardrobe.
        </div>
    </section>
    <section>
        <div>
            <div class="text-2xl text-black py-2">Categories</div>
            <div>Outerwear 12</div>
            <div>Knitwear 24</div>
            <div>Trousers 18</div>
            <div>Accessories 09</div>
        </div>
        <div>
            <div class="text-2xl text-black">PALETE</div>
            colores
        </div>
        <div>
            <div class="text-2xl text-black">SORT BY</div>
            <div>Latest Price</div>
            <div>Low to High</div>
        </div>
    </section>

    <section class="flex gap">
        <div class="flex-1">
            <div><img src="/nimg new arrival.png" alt="" /></div>
            <div class="text-2xl text-black font-black py-2">
                Structured Wool Coat
            </div>
            <div>Camel / Virgin Wool</div>
            <div>840$</div>
        </div>
        <div>
            <div><img src="/sueter negro new arrivals.png" alt="" /></div>
            <div class="text-2xl text-black font-black py-2">
                Silk Turtleneck
            </div>
            <div>Midnight / Mulberry Silk</div>
            <div>$320</div>
        </div>
    </section>

    <section class="flex gap">
        <div class="flex-1">
            <div><img src="/zapato new arrivals.png" alt="" /></div>
            <div class="text-2xl text-black font-black py-2">
                Bonded Leather Sneakers
            </div>
            <div>Bone / Italian Calf</div>
            <div>$410</div>
        </div>
        <div>
            <img src="/pantalones new arrivals.png" alt="" />
            <div class="text-2xl text-black font-black py-2">
                Wide Leg Denim
            </div>
            <div>Raw Indigo / 14oz Selvedge</div>
            <div>$295</div>
        </div>
    </section>
</Layout>
