---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <img src="/chaqueta new arrivals.png" alt="" />
    </section>

    <section>
        <div>
            <div>Outerwear</div>
            <div>Explore Collection</div>
        </div>
    </section>

    <section>
        <img src="/blusa new arrivals.png" alt="" />
    </section>

    <section>Tops</section>

    <section>
        <img src="/ropa interior new arrivals.png" alt="" />
    </section>

    <section>Bottons</section>
</Layout>
