---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="flex gap">
        <div>
            <img src="/chaqueta new arrivals.png" alt="" />

            <div>
                <div>Outerwear</div>
                <div>Explore Collection</div>
            </div>

        </div>
        
        <div>
            <div>
                <img src="/blusa new arrivals.png" alt="" />
                <p>Tops</p>
                
            </div>
            <div>
                <img src="/ropa interior new arrivals.png" alt="" />
                
                <section>Bottons</section>
            </div>
        </div>
    </section>
    
</Layout>
