---
import Productos from "../components/Productos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="px-20">
        <div>
            <div class="text-8xl font-black py-6">New Arrivals</div>
        </div>

        <div class="text-2xl text-cyan-800 py-8">
            Exploring the intersection of architectural form and tactile
            comfort. A curated selection for the permanent wardrobe.
        </div>
    </section>
    <section>
        <div>
            <div class="text-2xl text-black py-2">Categories</div>
            <div>Outerwear 12</div>
            <div>Knitwear 24</div>
            <div>Trousers 18</div>
            <div>Accessories 09</div>
        </div>
        <div>
            <div class="text-2xl text-black">PALETE</div>
            colores
        </div>
        <div>
            <div class="text-2xl text-black">SORT BY</div>
            <div>Latest Price</div>
            <div>Low to High</div>
        </div>
    </section>

    <section class="flex px-40">
        <Productos
            titulo="Structured Wool Coat"
            subtitulo="Camel / Virgin Wool"
            precios="$840"
            imagenes="/nimg new arrival.png"
        />
        <Productos
            titulo="Silk Turtleneck"
            subtitulo="Midnight / Mulberry Silk"
            precios="$320"
            imagenes="/sueter negro new arrivals.png"
        />
    </section>

    <section class="flex gap-3 justify-beetwen px-40 py-10">
        <Productos
            titulo="Wide Leg Denim"
            subtitulo="Bone / Italian Calf"
            precios="$295"
            imagenes="pantalones new arrivals.png"
        />
        <Productos
            titulo="Bonded Leather Sneakers"
            subtitulo="Raw Indigo / 14oz Selvedge"
            precios="$410"
            imagenes="zapato new arrivals.png"
        />
    </section>
</Layout>
