<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Fuzz Shop</title>
	</head>
	<body>
		<header>
			<p>Fuzz Shop</p>
			<div>
				<a href="/">Inicio</a>
				<a href="new arrivals">New Arrivals</a>
				<a href="Best Sellers">Best Sellers</a>
				<a href="Categorias">Categorias</a>
				<a href="Catalogo">Catalogo</a>
			</div>

			<div>
				<a href="/carrito">Carrito</a>
				<a href="Usuario">Usuario</a>
			</div>
		</header>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
