---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Fuzz Shop</title>
	</head>

	<body>
		<header class="flex justify-between items-center px-10 py-6 sticky top-0">
			<p class="text-2xl font-black">FUZZ SHOP</p>

			<div class="flex gap-4 items-centerS text-cyan-700">
				<a href="/">Inicio</a>
				<a href="new arrivals">New Arrivals</a>
				<a href="best seller">Best Sellers</a>
				<a href="categorias">Categorias</a>
				<a href="catalogo">Catalogo</a>
			</div>

			<div class="flex gap-4">
				<a href="/carrito">
					<Icon name="carrito" size={32} />
				</a>

				<a href="usuario"> <Icon name="usuario" size={32} /></a>
			</div>
		</header>

		<slot />
	</body>
</html>
